/Client.class
/Server.class
/Store.class
/TaskList.class
/User.class
/ClientHandler.class
/Menu.class
/MenuFrame$1.class
/MenuFrame.class
/Register.class
/RegisterFrame$1.class
/RegisterFrame.class
/Hello.class
/HelloFrame$1.class
/HelloFrame.class
/MenuFrame$2.class
/RegisterFrame$2.class
/RegisterFrame$3.class
/MenuFrame$3.class
/Login.class
/LoginFrame$1.class
/LoginFrame$2.class
/LoginFrame$3.class
/LoginFrame.class
/MainPageFrame.class
/MainPageFrame$1.class
/MainPageFrame$2.class
/MainPageFrame$3.class
/AddTasklistFrame.class
/AddTasklistFrame$1.class
/AddTasklistFrame$2.class
/AddTasklistFrame$3.class
/RemoveTasklistFrame.class
/RemoveTasklistFrame$1.class
/RemoveTasklistFrame$2.class
/RemoveTasklistFrame$3.class
/AddTasksFrame.class
/AddTasksFrame$1.class
/AddTasksFrame$2.class
/AddTasksFrame$3.class
/AddTasksFrame$4.class
/AddTasksFrame$5.class
/LoginFrame$4.class
/MainPageFrame$4.class
/ShowTasksFrame.class
/ShowTasksFrame$1.class
